.main-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.intro-container h1 {
    font-size: 80px;
    text-transform: uppercase;
    color: rgb(8, 8, 110);
    font-weight: bolder;
}

.intro-container h2 {
    font-size: 80px;
    text-transform: uppercase;
    font-weight: bolder;
}

.intro-container button {
    background-color: rgba(15, 15, 182, 0.705);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
}

.intro-container button:hover {
    background-color: rgba(8, 8, 95, 0.829);
}

.display-container img {
    width: 500px;
    height: 600px;
}

@media screen and (max-width:500px) {
    .main-container {
        display: grid;
        grid-template-columns: 1fr;
    }

    .intro-container h1 {
        font-size: 40px;

    }

    .intro-container h2 {
        font-size: 40px;

    }
}

.customer-review {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
}

@media screen and (max-width:900px) {
    .main-container {
        display: grid;
        grid-template-columns: 1fr;
    }

    .intro-container h1 {
        font-size: 50px;

    }

    .intro-container h2 {
        font-size: 50px;

    }

    .customer-review {
        display: grid;
        grid-template-columns: 1fr;
        place-items: center;
    }

}