.active {
    text-decoration: none;
    margin-right: 20px;
    font-size: 20px;
    transition: color ease-in-out 300ms;
    color: rgb(0, 0, 128);
}

.inactive {
    text-decoration: none;
    margin-right: 20px;
    font-size: 20px;
    transition: color ease-in-out 300ms;
    color: rgb(253, 253, 253);
}

.active:hover {
    color: rgb(185, 185, 187)
}

.inactive:hover {
    color: rgb(185, 185, 187)
}

@media screen and (max-width:900) {
    .nav-bar nav {
        width: 100%;
    }
}