.charts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 30px;
    column-gap: 10px;
    place-items: center;
}

@media screen and (max-width:900px) {
    .charts {
        display: grid;
        grid-template-columns: 1fr;
        place-items: center;
    }
}